@font-face {
    font-family: 'MV';
    src: url('./Demather.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Chetta';
    src: url('./Signatra.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Creato';
    src: url('./Creato-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }


:root {
    --wed-prim: white;
    --wed-sec: #ffe9ce;
    --wed-tri: #fff2e2;
    --wed-fontcl1: #252525;;
    --wed-fontcl2: #1e1e1e;;
    --wed-font-prim: 'Chetta', sans-serif;
    --wed-font-sec: 'Creato', serif;
    margin: 0;
    padding: 0;
  }  

  

html, body {
    font-family: 'Arial', sans-serif;
    background: var(--wed-prim);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width:100vw;
    height: 100vh;
    max-height:100vh;
    margin: 0;
    padding: 0;
        height: 100dvh;
        width: 100dvw;
        margin: 0;
        overflow: hidden;
        overscroll-behavior: none;
        -webkit-overflow-scrolling: auto;
        background: var(--wed-prim);
        display: flex;
        align-items: center;
        justify-content: center;
}

.wholeContainer {
    display:flex;
   flex-direction:column;
   justify-content: center;
    align-items: center;
}

    .outerContainer {
display:flex;
align-items:center;
flex-direction:column;
    }

    .columnColumn {
        position:relative;
        width: auto;
        height:100%;
        display:flex;
        flex-direction:row;
        justify-content: flex-start;
        align-self: flex-start;
        transform:translateY(0.4rem);
        width: 80vw;
        max-width: 700px;
    }

    .columnCard {
        background:var(--wed-prim);
        height:4rem;
        width:4rem;
        margin-right:0.2rem;
        transform:scale(0.95);
        display:flex;
        justify-content:center;
        align-items:center;
        font-size: 2rem;
        z-index:10;
        transition: box-shadow 1050ms ease-in-out, transform 100ms ease-in-out;
        box-shadow: 0rem -0.75rem 0.75rem -0.8rem rgba(0, 0, 0, 0.7) inset, 0px 8px 24px rgba(149, 157, 165, 0.2);
        position:relative;
    }



      .activeCard {
        z-index:200;
        box-shadow: none;
        transform:scale(1.05);
        box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
      }
      #dateCard {
        transform-origin: left;
      }

.innerContainer {
    margin:auto;
    text-align: center;
    background: var(--wed-prim);
    padding: 1rem;
    border-radius: 0rem 1rem 1rem 1rem;
    box-shadow: 0.1rem 0.3rem 0.25rem 0rem rgba(0, 0, 0, 0.07),  rgba(100, 100, 111, 0.2) 0px 13px 23px 0px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:80vw;
    max-width:700px;
    height:25rem;
    z-index:100;
    position:relative;
}

.titleFont {
    font-size: 2.2rem;
    color: var(--wed-fontcl1);
    font-family: var(--wed-font-prim);
    margin:1rem;
}

.subTitleFont {
    color: var(--wed-fontcl1);
    font-family: var(--wed-font-prim);
    font-size: 1.75rem;
    margin: 0.25rem;  
}

.giftContainer .titleFont {
font-size:2.5rem;
}

.giftContainer .subTitleFont {
    font-size:1.8rem; 
    font-weight:lighter;
}

.giftContainer .subFont {
    margin-top:1rem;
    font-size:1.25rem; 
    text-wrap: balance;
}

.foodContainer .subFont {
    margin-top:1rem;
    font-size:1.3rem; 
    text-wrap: balance;
}

.micContainer .subFont {
    margin-top:1rem;
    font-size:1.2rem; 
    text-wrap: balance;
}

.korLang.dateContainer .subFont {
    font-size: 1.4rem;
}


.korLang .subTitleFont {
    font-size: 1rem;
}

.korLang .titleFont {
    font-size: 1.5rem;
}

.korLang.giftContainer .subFont {
    display:none;
}

.engLang.giftContainer .subFont {
    display:none;
}


.subFont {
    color: var(--wed-fontcl1);
    font-family: var(--wed-font-sec);
    font-size: 2rem;
    margin: 0.25rem;
    font-weight:100;
}

span {
    font-weight: bold;
}

.toggleContainer {
    margin-top: 2rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.toggleButton {
    box-sizing:border-box;
    margin:0.5rem;
    font-size: 2.3rem;
    background: var(--wed-prim);
    aspect-ratio: 1 / 1; 
    width:3.15rem;
    height:auto;
    border-radius:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: 0.2rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
    transform:scale(0.95);
    transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;
}

.activeButton {
    background:var(--wed-sec);
    transform:scale(1.05);
}


.respondContainer {
    width:100%;
        justify-content: center;
        display:none;
        width:100%
}

.dateContainer .respondContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.respondContainer {
    margin-top:0.7rem;
}
.respondButton {
background:var(--wed-tri);
width:10rem;
margin:0.35rem;
font-size:1.5rem;
border-radius:0.31rem;
padding:0.4rem 0.2rem 0.4rem 0.2rem;
box-shadow: 0.05rem 0.05rem 0.1rem 0rem rgba(0, 0, 0, 0.2);
z-index:30;
}



.ondebox {
    position:absolute;
    width:100vw;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.onde {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  
  /* Animation */
  
  .parallaxonde > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallaxonde > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallaxonde > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallaxonde > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallaxonde > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .onde {
      height:40px;
      min-height:40px;
    }
  }

  .removeConfirm {
    transition: transform 3s ease-in-out;
    transform:rotate(250deg) translateX(100vw) translateY(130vw);
  }

  .removeDecline {
    transition: transform 2.5s ease-in-out 0.5s;
    transform:rotate(-250deg) translateX(-100vw) translateY(-130vw);
  }



      .behindText {
        font-size:0.75rem;
        opacity:0;
        transition: opacity 5050ms ease-in-out;
        position:absolute;
        text-wrap:balance;
        z-index:10;
        display: flex;
            justify-content: center;
            align-items: center;
      }

      .appearingText {
        opacity:1;
      }
