@font-face {
    font-family: 'MV';
    src: url('./Demather.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Chetta';
    src: url('./Signatra.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Creato';
    src: url('./Creato-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }


:root {
    --wed-prim: white;
    --wed-sec: #ffe9ce;
    --wed-tri: #fff2e2;
    --wed-fontcl1: #252525;;
    --wed-fontcl2: #1e1e1e;;
    --wed-font-prim: 'Chetta', sans-serif;
    --wed-font-sec: 'Creato', serif;
  }  

  

body {
    font-family: 'Arial', sans-serif;
    background: var(--wed-prim);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wholeContainer {
    display:flex;
   flex-direction:column;
}

    .outerContainer {
display:flex;
flex-direction:row;
filter: drop-shadow(0px 0px 1.5rem rgb(0,0,0,0.10));
    }

    .columnColumn {
        position:relative;
        width:6.25rem;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:flex-start;
    }

    .columnCard {
        background:var(--wed-prim);
        height:4rem;
        width:4rem;
        margin-top:0.3rem;
        margin-bottom:0.3rem;
        transform:translateX(-0.05rem) scale(0.95);
        display:flex;
        justify-content:center;
        align-items:center;
        font-size: 2rem;
        z-index:10;
        transition: box-shadow 250ms ease-in-out, transform 250ms ease-in-out;
        box-shadow: 0.45rem 0rem 0.75rem -0.8rem rgba(0, 0, 0, 0.7) inset;
        position:relative;
    }

    .columnCard:first-child {
        margin-top:0.09rem;
    }

      .activeCard {
        z-index:200;
        box-shadow: none;
        transform:translateX(-0.05rem) scale(1.05);
      }

.innerContainer {
    margin:auto;
    text-align: center;
    background: var(--wed-prim);
    padding: 1rem;
    border-radius: 1rem 0rem 1rem 1rem;
    box-shadow: 0.1rem 0.1rem 0.25rem 0rem rgba(0, 0, 0, 0.07);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:12rem;
    min-width:12rem;
    height:25rem;
    z-index:100;
}

.titleFont {
    font-size: 2.2rem;
    color: var(--wed-fontcl1);
    font-family: var(--wed-font-prim);
    margin:1rem;
}

.subTitleFont {
    color: var(--wed-fontcl1);
    font-family: var(--wed-font-prim);
    font-size: 1.75rem;
    margin: 0.25rem;  
}

.giftContainer .titleFont {
font-size:2.5rem;
}

.giftContainer .subTitleFont {
    font-size:1.8rem; 
    font-weight:lighter;
}

.giftContainer .subFont {
    margin-top:1rem;
    font-size:1.25rem; 
    text-wrap: balance;
}

.foodContainer .subFont {
    margin-top:1rem;
    font-size:1.3rem; 
    text-wrap: balance;
}

.micContainer .subFont {
    margin-top:1rem;
    font-size:1.2rem; 
    text-wrap: balance;
}


.subFont {
    color: var(--wed-fontcl1);
    font-family: var(--wed-font-sec);
    font-size: 2rem;
    margin: 0.25rem;
    font-weight:100;
}

span {
    font-weight: bold;
}

.toggleContainer {
    margin-top: 2rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.toggleButton {
    box-sizing:border-box;
    margin:0.8rem;
    font-size: 2.3rem;
    background: var(--wed-prim);
    aspect-ratio: 1 / 1; 
    width:3.15rem;
    height:auto;
    border-radius:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: 0.2rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.3);
    transform:scale(0.95);
    transition: background-color 150ms ease-in-out, transform 150ms ease-in-out;
}

.activeButton {
    background:var(--wed-sec);
    transform:scale(1.05);
}


.respondContainer {
    display:none;
}

.dateContainer .respondContainer {
    display:flex;
    flex-direction:column;
}

.respondContainer {
    margin-top:0.7rem;
}
.respondButton {
background:var(--wed-tri);
width:10rem;
margin:0.35rem;
font-size:1.5rem;
border-radius:0.31rem;
padding:0.4rem 0.2rem 0.4rem 0.2rem;
box-shadow: 0.05rem 0.05rem 0.1rem 0rem rgba(0, 0, 0, 0.2);
}

